<!--
  Generated template for the FavouritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar align-title="center">
        <button ion-button menuToggle left >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ titolo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>



    <!-- check layout card -->
    <div *ngIf="this.settings.favouritesLayout === 'card' ">


        <ion-card class="stile-paragrafi testo-paragrafi spacing-carte" padding *ngFor="let i of this.settings.favourites">
            <!-- immagine con supporto cache -->
            <div *ngIf="i.media_type == 'image'"  class="stile-immagine">
                <div (click)="this.tools.showFullScreenImage(i.hdurl)">
                    <img-loader src="{{ i.url }}" useImg></img-loader>
                </div>
            </div>

            <div *ngIf="i.media_type == 'video'" class="video-container">
                <iframe  [src]="this.sanitizer.bypassSecurityTrustResourceUrl(i.url)"
                         frameborder="0" align="middle" allow="autoplay; encrypted-media">
                </iframe>
            </div>

            <!-- proper progress bar -->
            <progress-bar *ngIf="i.date == this.download.downloadingDate" [progress]="this.download.progress"></progress-bar>


            <div class="icons">

                <!-- DOWNLOAD -->
                <span *ngIf="i.media_type == 'image'" (click)="this.download.downloadImage(i.hdurl, i.title, i.date);">
                        <ion-icon name="download"></ion-icon>
                </span>

                <!-- PREFERITI -->
                <span *ngIf="this.tools.checkIfFavourite(i.date);else notFavouriteIcon">
                        <ion-icon (click)="this.tools.removeFromFavorites(i)" name="star"></ion-icon>
                    </span>
                <ng-template #notFavouriteIcon>
                    <!-- nel caso non è già nei preferiti -->
                    <span>
                        <ion-icon (click)="this.tools.addToFavorites(i)" name="add-circle"></ion-icon>
                    </span>
                </ng-template>

                <!-- LINK DIRETTO -->
                <!--<span>-->
                <!--<a class="external-link" href="{{i.url}}">-->
                <!--<ion-icon name="link"></ion-icon>-->
                <!--</a>-->
                <!--</span>-->

            </div>

            <h1 class="stile-titolo">{{ i.title }}</h1>
            <p class="stile-copyright"  *ngIf="i.copyright">{{i.copyright}}</p>
            <h6 class="stile-data">{{ i.date }}</h6>
            <p class="stile-testo">{{ i.explanation }}</p>
        </ion-card>

        <ion-card>
            <button full color="low-contrast" ion-button (click)="getAPOD(this.settings.daysInThePast, false)" >Load {{ this.settings.daysInThePast}} more days</button>
        </ion-card>

    </div>
    <!-- END layout card -->


    <!-- check layout grid -->
    <div *ngIf="this.settings.favouritesLayout === 'grid' ">

        <ion-grid>
            <ion-row class="row" responsive-sm wrap >

                <ion-col col-6 *ngFor="let i of this.settings.favourites">

                    <ion-card class="blurred-title-card" (click)="changePage(i.date)">


                        <!-- se è un video allora uso la thumbnail per il background -->
                        <div *ngIf="i.media_type == 'image'" class="card-image" [style.background-image]="'url(' + i.url + ')'" ></div>
                        <div *ngIf="i.media_type == 'video'" class="card-image" [style.background-image]="'url('+this.tools.getYoutubeVideoId(i.url)+')'" ></div>


                        <div class="card-title-background">
                            <span *ngIf="i.media_type == 'image'" [style.background-image]="'url(' + i.url + ')'"></span>
                            <!--<span *ngIf="i.media_type == 'video'" [style.background-image]="'url('+this.tools.getYoutubeVideoId(i.url)+')'"></span>-->
                        </div>

                        <div class="card-title">
                            <p>
                                {{i.title}}
                            </p>
                            <p  class="data">
                                {{i.date}}
                            </p>
                        </div>
                    </ion-card>

                    <!--<ion-card>-->
                    <!--&lt;!&ndash;<img src="{{ i.url }}"/>&ndash;&gt;-->
                    <!--<img-loader src="{{ i.url }}" useImg></img-loader>-->
                    <!--<div class="card-title">{{ i.title }}</div>-->
                    <!--&lt;!&ndash;<div class="card-subtitle">{{ i.date }}</div>&ndash;&gt;-->
                    <!--</ion-card>-->
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
    <!-- END layout grid -->


</ion-content>