/* stile per il layout singolo 'fullscreen' */
.fullscreen-layout-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  //height: auto;
  //background-color: red;
  //background-size: inherit;

  .data-wrapper {
    color: white;
    overflow: auto;

    position: absolute;
    bottom: 0px;
    right: 0px;

    width: 80%;
    max-height: 40vh;
    padding: 2em 2em 1em 0;
    margin: 0.5em;

    background-color: rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.66);
    text-align: right;
    border-radius: 5%;

    p {
      margin: 0;
    }

    p.testo {
      margin: 10px 0;
      font-style: italic;
    }

    div.icons {
      font-size: 30px;
      span {
        margin: 0 0.25em;
        a {
          //color: white;
        }
      }
    }
  }
}
