<ion-header>
    <ion-navbar align-title="center">
        <button ion-button menuToggle left >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ titolo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Refresher -->
    <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
        <!--<ion-refresher-content></ion-refresher-content>-->
    <!--</ion-refresher>-->

    <!-- TEST ONLINE/OFFLINE-->
    <div *ngIf="this.dataLength != 0;else notOnline">

        <!-- Layout card -->
        <div *ngIf="this.settings.todayLayout === 'card' ">
            <card-layout *ngIf="this.dataLength != 0" [data]="data"></card-layout>
        </div>

        <!-- layout fullscreen -->
        <div *ngIf="this.settings.todayLayout === 'fullscreen' ">
            <fullscreen-layout *ngIf="this.dataLength != 0" [data]="data"></fullscreen-layout>
        </div>

    </div>

    <ng-template #notOnline>
        <div class="not-online">
            <h2>No data :( are you online?</h2>
        </div>
    </ng-template>


</ion-content>