<ion-header>
    <ion-navbar align-title="center">
        <button ion-button menuToggle left >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ titolo }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>





    <!-- TEST ONLINE/OFFLINE-->
    <div  style="height: 100%;" *ngIf="this.dataLength != 0;else notOnline">

        <!-- Layout card -->
        <div  style="height: 100%;" *ngIf="this.settings.todayLayout === 'card' ">
            <!-- Refresher -->
            <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <card-layout *ngIf="this.dataLength != 0" [data]="data"></card-layout>
        </div>

        <!-- layout fullscreen -->
        <div  style="height: 100%;" *ngIf="this.settings.todayLayout === 'fullscreen' ">

            <fullscreen-layout  style="height: 100%;" *ngIf="this.dataLength != 0" [data]="data"></fullscreen-layout>
        </div>

    </div>

    <ng-template #notOnline>
        <div class="not-online">
            <h2>No data :( are you online?</h2>
        </div>
    </ng-template>


</ion-content>