
page-settings {
  ion-content{
    .titolo{
      margin: 5vh 0;
      font-size: 40px;
    }
    ion-avatar img{
      width: 20%;
      margin: 0 40% 5vh 40%;
      height: auto;
      border: 1px solid color($colors, dark);
      border-radius: 10%;
    }


    ion-card{
      text-align: center;

      .contatore{
        color: color($colors, secondary);
        font-size: 30px !important;
      }

      .sottotitolo{
        color: color($colors, secondary);
        font-size: 15px;
        width: 80%;
        padding: 0 10%;
      }

      button{
        //background-color: color($colors, secondary) !important;
      }

    }




    ion-item.item-md{
      padding-left: 0px;

      div.item-inner{
        border-bottom: none !important;
      }
    }


    ion-grid{
      ion-row{
        ion-col{
          padding: 2px !important;
        }
      }
    }

  }
}
