$text-lighter: white;
$text-light: DarkGray;
$text-medium: Gray;
$text-dark: #484848;

$background-lighter: #696c72;
$background-light: #36393e;
$background-medium: #36393e;
$background-dark: #25282c;
$background-darker: #1e2124;

$accents: steelblue;
$accents-secondary: goldenrod;

.dark-theme {
  //siccome gli alert non sono children della classe .dark-theme devo usare
  //un'operatore speciale che ti ritorna alla root e seleziona l'allert!
  @at-root ion-alert {
    .alert-wrapper {
      background-color: $background-dark !important;
      .alert-title {
        color: $text-lighter;
      }
      .alert-sub-title {
        color: $text-light;
      }
      .alert-radio-group {
        border-color: $background-darker;
        .alert-radio-label {
          color: $text-light;
        }
      }
    }
  }

  .select-text {
    color: $accents;
  }
  ion-alert {

  }

  //Generale
  ion-content {
    background-color: $background-darker;
    color: $text-light;
  }
  .button {
    background-color: $background-lighter;
  }

  //about
  page-about {
    h1.titolo {
      color: $text-lighter;
    }
    .author-intro {
      color: $text-medium;
    }
  }

  //settins page colors
  page-settings{
    .titolo{
      color: $text-lighter;
    }
    ion-card{
      .sottotitolo, .contatore {
        color: $text-light;
      }
      .settings-subtitle {
        color: $text-lighter;
      }
      p {
        color: $text-light;
      }
    }
  }


  //timemachine
  page-timemachine ion-content h1, page-timemachine ion-content p {
    color: $text-light !important;
  }

  //menu laterale
  .menu-inner {
    background-color: #1e2124;
    ion-item, ion-list > .voce-menu {
      background-color: $background-darker;
      color: $text-light;
      h1 {
        color: $text-lighter;
      }
    }
  }

  //bottom menu tab della pagina home e week
  .tab-button {
    background-color: $background-dark;
  }
  .tab-button[aria-selected=true] .tab-button-icon {
    color: $accents !important;
  }
  .tab-button-text {
    color: $text-light;
  }
  .tab-button-icon {
    color: $text-light;
  }

  //colors layout fullscreen
  .fullscreen-layout-wrapper {
    .data-wrapper {
      h3 { //titolo
        color: $text-lighter;
      }
      p:first-child { //data
        color: $text-medium;
      }
      p { //copyright
        color: $text-medium;
      }
      .testo {
        color: $text-light;
      }
      .icons > span {
        color: $text-light;
        span > ion-icon[name=star] {
          color: $accents-secondary;
        }
      }
    }
  }

  //card colors
  ion-card {
    background-color: $background-light;
    ion-item {
      background-color: $background-light;

      //annulla il merdosissimo effetto che c'era di default e dava
      //fastidio quando si cambiava il tema.
      -webkit-transition: none;
      transition: none;


    }
    //color icone
    .icons > span {
      color: $text-dark;
      span > ion-icon[name=star] {
        color: $accents-secondary;
      }
    }
    .stile-titolo {
      color: $text-lighter;
    }
    .stile-copyright {
      color: $text-light;
    }
    .stile-data {
      color: $text-light;
    }
    .stile-testo {
      color: $text-medium;
    }
  }

  //color lista grid
  ion-card {
    .card-title {
      p {
        color: $text-lighter;
      }
      .data {
        color: $text-medium;
      }
    }
  }

  //color top header
  .header .toolbar-title {
    color: $text-light;
  }
  .header .toolbar-background {
    background-color: $background-darker;
  }
}