page-timemachine {
  ion-content{
    .timemachine-icon{
      height: 20vh;
    }
    .timemachine-button{
      margin: 30px;
    }

    h1, p{
      color: color($colors, primary) !important;
    }

  }
}
